.list-ios{
    background: transparent !important;
}

.icon {
    color: #424242; 
    width: 30px; 
    height: 30px; 
}

.header{
    padding-top: 10%;
}

ion-menu-button {
    color: #424242; /* Cor do ícone do botão de menu em preto */
  }