

<ion-content [fullscreen]="true">
  <div>

    <form [formGroup]="form" (ngSubmit)="logar()">
      <div class="form-container">
        <ion-input label="Email" label-placement="floating" fill="outline" type="email" class="custom-item" formControlName="email"></ion-input>
        <br>
        <ion-input label="Senha" label-placement="floating" fill="outline" type="password" class="custom-item" formControlName="senha"></ion-input>
      </div>
      <span class="forget-password">Esqueci minha senha</span>
      <ion-button type="submit" class="botao" [disabled]="form.invalid">Entrar</ion-button>
    </form>
    
  </div>

  <p>Não possui conta? </p>
  <span (click)="irRegister()">Cadastra-se</span>
</ion-content>

<ion-toast
    [isOpen]="isToastOpen"
    message="{{mensagemToast}}"
    [duration]="4000"
    (didDismiss)="mensagemLogin(false, false)"
  ></ion-toast>
