:root {
    --ion-color-primary: #6D4D8B; /* Define a cor primária como roxa */
    --ion-color-primary-contrast: #FFFFFF; /* Cor do texto em branco para contraste */
}
:host {
    ion-content {
      background-color: #D9D9D9 !important; /* Cor de fundo do conteúdo */
    }
  
  
    ion-title {
      color: #424242 !important; 
    }
  
    ion-menu-button {
      color: #424242; 
    }
  
    /* Rodapé */
    ion-toolbar.footer-toolbar {
      background-color: #F0F0F0; /* Cor do fundo do rodapé */
    }
  }
  

#container {
    margin: 10% 0;
}

.header {
    padding-top: 10%;
  }

.botao-next{
    margin:auto;
    margin-top: 20%;
    --color: #ffffff; /* Cor do texto em branco */
    width:120px;
}

.icon {
    width: 30px;   
    height: 30px;  
    color: #424242; 
  }