<ion-toolbar class="header">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Venda</ion-title>
  <div slot="end">
    <ion-icon class="icon-header" name="create" id="edit-alert" ></ion-icon>
    <ion-icon class="icon-header" name="trash" id="delete-alert"></ion-icon>
  </div>

</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="titulo">  
    <h4>Todos os produtos</h4>
  </div>

  <div *ngIf="listar.length > 0">
    <ion-list lines="none">
      <ion-item *ngFor="let list of listar" class="custom-item" >
          <div style="flex: 1; display: flex; justify-content: space-between;" (click)="abrirModal(list)">
              <ion-label>{{ list.nome}}</ion-label>
              <ion-label>{{ list.qntEstoque}}</ion-label>
              <ion-label>{{ list.valor}}</ion-label>
          </div>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col><ion-icon name="home" class="icon"></ion-icon></ion-col>
      <ion-col><ion-icon name="list" class="icon"></ion-icon></ion-col>
      <ion-col><ion-icon name="settings" class="icon"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>