<ion-toolbar class="header">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button> <!-- menu -->
  </ion-buttons>
  <ion-title>entrada</ion-title>
</ion-toolbar>



<ion-item>
  <ion-label>Escolha uma opção</ion-label>
  <ion-select placeholder="Selecione">
    <ion-select-option value="opcao1">Estoque batata</ion-select-option>
    <ion-select-option value="opcao2">Estoque blusa</ion-select-option>
    <ion-select-option value="opcao3">Estoque calça </ion-select-option>
  </ion-select>
</ion-item>

<ion-content [fullscreen]="true">
  <ion-item class="custom-select">
    <ion-label>Estoque</ion-label>
    <ion-select placeholder="Selecione" (ionChange)="selecionarEstoque($event)">
      <ion-select-option *ngFor="let estoque of estoques" [value]="estoque.valor">{{estoque.label}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="custom-select">
    <ion-label>Ação</ion-label>
    <ion-select placeholder="Selecione" (ionChange)="selecionarAcao($event)">
      <ion-select-option *ngFor="let acao of acoes" [value]="acao.valor">{{acao.label}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="custom-select">
    <ion-label>Tipo de entrada/saída</ion-label>
    <ion-select placeholder="Selecione" (ionChange)="selecionarTipoEntradaSaida($event)">
      <ion-select-option *ngFor="let tipo of tiposEntradaSaida" [value]="tipo.valor">{{tipo.label}}</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>

<ion-toolbar>
  <ion-grid>
    <ion-row> <!-- barra de navegação -->
      <ion-col><ion-icon name="home" class="icon"></ion-icon></ion-col>
      <ion-col><ion-icon name="list" class="icon"></ion-icon></ion-col>
      <ion-col><ion-icon name="settings" class="icon"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>