:host {
    ion-content {
        background-color: #D9D9D9 !important; /* Cor de fundo do conteúdo */
    }

    ion-toolbar {
        background-color: #D9D9D9   !important; /* Cor do cabeçalho */
    }
}


#container {
    margin: 10% 0;
}

.header {
    margin-top: 10%;
}

.botao {
    margin-bottom: 20%;
}

ion-col {
    text-align: center;
}

.icon {
    width: 50px;
    height: 30px;
}

.button-redondo{
    padding: 15px 15px;
    background-color: #65558F;
}

ion-list{
    height: 100%;
    width: 100%;
}

.custom-item {
    margin: 5% 10%; /* Espaçamento entre os itens */
   
}

.icon-header{
    width: 20px;
    height: 20px;
}