ion-content {
    --background: #d9d9d9; 
    margin: 0;
    padding: 0;
  }

.custom-item {
    border: 1px solid #ccc;
    --border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    --padding-start: 10px;
    --background:  #ECE6F0;
    color: #685a8d;   
    margin-top: 25px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.botao{
    --background: #65558F;
    --border-radius: 100px;
    width: 50%;
    margin: 10% 25% 10% 25%;
    --color: #fff;
}

p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

span{
    color: #594e79;
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
}