<ion-content class="div">
  <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">

      <div class="form-container"> 
        <ion-input label="Nome" type="text" label-placement="floating" fill="outline" class="custom-item" formControlName="nome"></ion-input>

        <ion-input label="Email" type="email" label-placement="floating" fill="outline" class="custom-item"  formControlName="email"></ion-input>
      
        <ion-input label="Senha" type="text" label-placement="floating" fill="outline" class="custom-item" formControlName="senha" type="password" ></ion-input>

        <ion-input label="Role" type="text" label-placement="floating" fill="outline" class="custom-item" formControlName="role"></ion-input>
      </div>

    <ion-button type="submit" class="botao" expand="full" [disabled]="formRegister.invalid">Enviar</ion-button>
  </form>

  <p (click)="irLogin()">Já possui uma conta? <span>Entrar</span></p>

</ion-content>

<ion-toast
    [isOpen]="isToastOpen"
    message="{{mensagemToast}}"
    [duration]="4000"
    (didDismiss)="openToast(false, false)"
  ></ion-toast>
