
:root {
    --ion-color-primary: #6D4D8B; /* Define a cor primária como roxa */
    --ion-color-primary-contrast: #FFFFFF; /* Cor do texto em branco para contraste */
}
:host {
    ion-content {
      background-color: #D9D9D9 !important; /* Cor de fundo do conteúdo */
    }
  
  
    ion-title.header-title {
      color: #424242 !important; /* Cor do texto do cabeçalho em preto */
    }
  
    ion-menu-button.menu-button {
      color: #424242; /* Cor do ícone do botão de menu em preto */
    }
  
    /* Rodapé */
    ion-toolbar.footer-toolbar {
      background-color: #F0F0F0; /* Cor do fundo do rodapé */
    }
  }
  
  #container {
    margin: 10% 15%;
  }
  
  .header {
    padding-top: 10%;
  }
  
  ion-col {
    text-align: center;
    display: flex; /* Para alinhar os ícones verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
  }
  
  .icon {
    width: 30px;   /* Largura dos ícones do rodapé */
    height: 30px;  /* Altura dos ícones do rodapé */
  }
  


.icon {
    color: #424242; /* Cor dos ícones */
    width: 30px; /* Largura dos ícones */
    height: 30px; /* Altura dos ícones */
}
  /* Estilos para o botão de salvar */
  .submit-button {
    margin:auto;
    margin-top: 20%;
    --color: #ffffff; /* Cor do texto em branco */
    width:120px;
    
  }
  
  /* Ajustes para a row do footer */
  ion-row {
    width: 100%; /* Garante que a linha ocupe 100% da largura */
    padding: 0; /* Remove qualquer padding padrão */
    margin: 0; /* Remove qualquer margin padrão */
  }


.button-redondo{
    padding: 15px 15px;
   
}

.botao{
    margin-bottom: 25%;
}
