#container {
    margin: 10% 0;
}

.botao {
    margin-bottom: 20%;
}

ion-col {
    text-align: center;
}

.icon {
    width: 50px;
    height: 30px;
}

.button-redondo{
    padding: 15px 15px;
    background-color: #65558F;
}

ion-list{
    height: 100%;
    width: 100%;
}

.custom-item {
    border: 1px solid #ccc; /* Cor da borda */
    border-radius: 10px; /* Bordas arredondadas */
    margin: 10px 10%; /* Espaçamento entre os itens */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10%;
}